Workflow/Sharan's email assistant_V3 _final.json
{
  "name": "Sharan's email assistant_V3",
  "nodes": [
    {
      "parameters": {
        "content": "1. working on email automation , currently working on prompt\n\n2. Need to add booking details \n\n3: need to work on product review details\n\n\ncalander : name , number or email with descriptiom\n \n4: Need to work on sxtracting email from chat trigger and sending order confirmation to the customer",
        "height": 448,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1280,
        -784
      ],
      "id": "8d6807b1-0575-457a-b718-d79c89ce431c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -624,
        -720
      ],
      "id": "2f6c75f4-5926-4caa-a883-6a0c50f887c7",
      "name": "receive email",
      "credentials": {
        "gmailOAuth2": {
          "id": "your_id",
          "name": "Gmail account Sales"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('receive email').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        640,
        -656
      ],
      "id": "4014f52b-180e-4a76-a936-ed4b3d04797e",
      "name": "reply to the mail",
      "webhookId": "your_webhook_id",
      "credentials": {
        "gmailOAuth2": {
          "id": "your_gmail_id",
          "name": "Gmail account Sales"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=customer's email message : {{ $json.snippet }}\n",
        "options": {
          "systemMessage": "=You are an AI assistant for \"Sheraton Lighting\". \nToday the date is  {{ $now }}\n\nRole:\n- Act as a professional sales & support representative.\n- Handle both email and chat interactions.\n- Understand customer needs and guide them on lighting products.\n- If its any order detail such as \" new order \" , send the order confirmation such as \" order is on the way \" or something related\n\nTasks:\n1. Read the incoming message (email/chat).\n2. Identify intent:\n   - Product inquiry / Pricing / Recommendation / General query\n   - If new order , extract Product order number for new order ( it will be on the email subject so analyse the subject) , email and phone which is inside the message body under billing address \n   \n  \n3. Always start with a polite greeting:\n   \"Hi, thank you for choosing Sheraton Lighting!\"\n   If name is known:\n   → \"Hi Mr/Ms [Name], thank you for choosing Sheraton Lighting!\"\n\n4. BEFORE proceeding, ALWAYS ask for:\n   - Customer Name\n   - Phone Number\n   Example:\n   \"Could you please share your name and phone number so I can assist you better?\"\n    NOTE : Ask for email at the end of conversation and label it as \" email \" Dont end the conversation without asking it because we need to send the customer order confirmation  . Generate the email according to the order placed and sent the output seperately labled as \" email\" it to the email node at next\n   Exception : If its \" new order \" , dont ask it , just directly send the confirmation email\n\n5. If any detail is missing:\n   - Ask ONLY for the missing one\n   - Do NOT proceed until both are collected\n   Exception - dont do this if its a \" new order \"\n\n6. Once both are available:\n   - Continue conversation\n   - Ask relevant questions:\n     • Indoor/Outdoor\n     • Type of lighting\n     • Budget\n     • Quantity\n     • Purpose\n   Exception - dont do this if its a \" new order \"\n\n7. Google Sheets Handling:\n\nYou have access to:\n\n\n- \"product details\"\n  • Fetch ONLY 3–4 relevant in-stock products\n  • If out of stock → inform politely\n  \n- \"customer details\"\n  Columns:\n  • customer name\n  • customer phone number\n  • customer's ordered product\n  • customer's product booking date\n\nActions:\n   \n- You have access to the sheet named                           \" add customer detials \" \n  After collecting:\n  Name + Phone + Product + Date\n  → Append to \" add customer details\":\n    • Name → customer name\n    • Phone → customer phone number\n    • Product → customer's ordered product\n    • Date → customer's product booking date\n  → NOTE: Save only when above details are available and         store  name ,phone number , product and date only ,          nothing else should be stored on the sheet\n- Cancellation : You have access to google sheet named         \"delete customer details\" cancel the bookings                for product , ask the name and phone number before           cancelling.\n  \n- Product queries:\n  → Fetch from \"product list\"\n\n- Customer detail requests:\n  → Search by name\n  → If found → return details about the customer's row on the sheet    \n  → Else → say no record found\n\n8.\" New order details \"\n\n  - If the email is \" New order \" on the email subject and do the following: \n\n      → Extract the order number\n      → Read message body and extract the email , phone              number , Customer name and address \n      → Dont ask for email , name and phone number for this          type of mail  if its a product confirmation , just           sent the confirmation email.\n      → Generate an appropriate email saying for eg :\" Your          order is on the process , thanks for connecting with         sheraton lighting\" or something similar. Include the         name , address and phone mumber too.\n\n9. Rules:\n- Do NOT assume or generate data\n- Use only Google Sheets data\n- Do NOT expose data to wrong users\n\n10. Tone:\n- Professional, friendly\n- Chat → short & conversational\n- Email → slightly formal\n\n11. Response Length:\n- 20 to 70 words\n\n12. Do NOT:\n- Make up specs/pricing\n- Assume details\n- Sound robotic\n\nGoal:\n- Collect Name + Phone\n- Understand needs\n- Recommend products\n- Drive towards a sale"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -144,
        -880
      ],
      "id": "137234f9-3b6f-4169-ac65-652513e1efa4",
      "name": "email agent ( prompt on production)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -464,
        -592
      ],
      "id": "6210060a-1ca4-4cc6-aeff-0f02aa2122d1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "your_AI_api",
          "name": "OpenAi National_VIdhinr"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -304,
        -592
      ],
      "id": "725d25d9-12f6-4de8-ba65-0acc3cd8abf4",
      "name": "to store email info"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "14zmXK0bbXYxSnfifEzsErVTc7cExYu6P76zM8N_OBqc",
          "mode": "list",
          "cachedResultName": "SalesLead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zmXK0bbXYxSnfifEzsErVTc7cExYu6P76zM8N_OBqc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 675426318,
          "mode": "list",
          "cachedResultName": "Customer Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zmXK0bbXYxSnfifEzsErVTc7cExYu6P76zM8N_OBqc/edit#gid=675426318"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        352,
        -592
      ],
      "id": "054d30f8-c266-46bd-8b1a-bc3a64fab14d",
      "name": "delete customer details",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_api",
          "name": "GoogleSh_SaleAiAgent"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14zmXK0bbXYxSnfifEzsErVTc7cExYu6P76zM8N_OBqc",
          "mode": "list",
          "cachedResultName": "SalesLead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zmXK0bbXYxSnfifEzsErVTc7cExYu6P76zM8N_OBqc/edit?usp=drivesd"
        },
        "sheetName": {
          "__rl": true,
          "value": 675426318,
          "mode": "list",
          "cachedResultName": "Customer Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zmXK0bbXYxSnfifEzsErVTc7cExYu6P76zM8N_OBqc/edit#gid=675426318"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        16,
        -592
      ],
      "id": "08451a00-29ee-49eb-9cc2-c39655b43af2",
      "name": "get customer details",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_api",
          "name": "GoogleSh_SaleAiAgent"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1U6wpGxZtW2lp2TuYxV0bM5VPKT2J16GFn9x35NF5KG4",
          "mode": "list",
          "cachedResultName": "Sheraton Lighting Stock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U6wpGxZtW2lp2TuYxV0bM5VPKT2J16GFn9x35NF5KG4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Stock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U6wpGxZtW2lp2TuYxV0bM5VPKT2J16GFn9x35NF5KG4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -160,
        -592
      ],
      "id": "a1ceb115-7204-433b-a2df-30c64ea70141",
      "name": "product details",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J1Rf4Hf1IITzJ2Tk",
          "name": "GoogleSh_SaleAiAgent"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14zmXK0bbXYxSnfifEzsErVTc7cExYu6P76zM8N_OBqc",
          "mode": "list",
          "cachedResultName": "SalesLead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zmXK0bbXYxSnfifEzsErVTc7cExYu6P76zM8N_OBqc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 675426318,
          "mode": "list",
          "cachedResultName": "Customer Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zmXK0bbXYxSnfifEzsErVTc7cExYu6P76zM8N_OBqc/edit#gid=675426318"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_name', ``, 'string') }}",
            "customer phone number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_phone_number', ``, 'string') }}",
            "customer's ordered product": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_s_ordered_product', ``, 'string') }}",
            "customer's product booking date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_s_product_booking_date', ``, 'string') }}",
            "toolCallId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('toolCallId', ``, 'string') }}",
            "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sessionId', ``, 'string') }}",
            "action": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('action', ``, 'string') }}",
            "chatInput": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatInput', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "customer name",
              "displayName": "customer name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer phone number",
              "displayName": "customer phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer's ordered product",
              "displayName": "customer's ordered product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer's product booking date",
              "displayName": "customer's product booking date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "toolCallId",
              "displayName": "toolCallId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        192,
        -592
      ],
      "id": "4e822d2f-09b2-42c4-be89-9e40b0dd5adf",
      "name": "add customer details",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J1Rf4Hf1IITzJ2Tk",
          "name": "GoogleSh_SaleAiAgent"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "receive email": {
      "main": [
        [
          {
            "node": "email agent ( prompt on production)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email agent ( prompt on production)": {
      "main": [
        [
          {
            "node": "reply to the mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reply to the mail": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "email agent ( prompt on production)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "to store email info": {
      "ai_memory": [
        [
          {
            "node": "email agent ( prompt on production)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "delete customer details": {
      "ai_tool": [
        [
          {
            "node": "email agent ( prompt on production)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get customer details": {
      "ai_tool": [
        [
          {
            "node": "email agent ( prompt on production)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "product details": {
      "ai_tool": [
        [
          {
            "node": "email agent ( prompt on production)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "add customer details": {
      "ai_tool": [
        [
          {
            "node": "email agent ( prompt on production)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Australia/Sydney",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2ff76abe-51df-4648-9cca-7a6ea6d4dc75",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae162117512f7c5e2683aa66db0ae3802a9055e075ecd1cb14f4b51d437682d1"
  },
  "id": "F1e5I19TYcd8n46O",
  "tags": [
    {
      "updatedAt": "2026-03-27T07:14:42.584Z",
      "createdAt": "2026-03-27T07:14:42.584Z",
      "id": "5gbOu7cZNhjc4NUB",
      "name": "chat_auto"
    },
    {
      "updatedAt": "2026-03-27T07:13:58.206Z",
      "createdAt": "2026-03-27T07:13:58.206Z",
      "id": "7sbxUM1MfZ3VXgMd",
      "name": "email_auto"
    },
    {
      "updatedAt": "2026-03-17T06:44:03.421Z",
      "createdAt": "2026-03-17T06:44:03.421Z",
      "id": "MJzhW2xdLMQ8wKyS",
      "name": "customer-support"
    },
    {
      "updatedAt": "2026-03-02T09:34:26.990Z",
      "createdAt": "2026-03-02T09:34:26.990Z",
      "id": "WUHLBLrhi0bCcYdB",
      "name": "sheraton-lighting"
    }
  ]
}
